.App {
  text-align: center;
  width: 1400px;
  height: 1000px;
  margin: auto;
  padding-top: 50px;
}

.registration input{
  height: 20px;
  margin: 5px 10px;
}


.login,.registration {
  width: 50%;
  margin: 10px auto;
  padding: 50px;
  border: solid grey 1px;
  background-color: darkseagreen;
}
.login input{
  height: 20px;
  margin: 5px 10px;
  
}

button{
  height: 50px;
  width: 100px;
}